<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Document Details</h2>

<table>
  <tr>
    <th>Status</th>
    <th>Type</th>
    <th>Attorneys</th>
    <th>Parties</th>
    <th>Court-Jurisdiction</th>
    <th>Case Title</th>
    <th>Case No</th>
  </tr>

  <%if(pdfData && pdfData.length !== 0){%>
  <% pdfData.forEach ((doc)=>{%>
    <tr>
    <%if(doc && doc.caseStatus){%>
    <td><%= doc.caseStatus.caseStatus%></td>
    <%} else {%>
      <td></td>
      <%}%>
    <%if(doc && doc.typeOfCase){%>
    <td><%= doc.typeOfCase.caseType%></td>
    <%}%>
    <%if(doc && doc.caseStaffs && doc.caseStaffs.length !==0){%>
    <%doc.caseStaffs.forEach((attorney)=>{%>
    <%if(attorney.attorney){%>
    <td><%= attorney.attorney.firstName + ' ' + attorney.attorney.lastName%></td>
    <%}%>
    <%})%>
    <%}%>
    <% let participants = []%>
    <%if(doc && doc.caseParticipants.length !==0){%>
    <%doc.caseParticipants.forEach((item)=>{%>
    <%if(item.party){%>
    <%participants.push(item.party)%>
    <%}%>
    <%})%>
    <td><%= participants%></td>
    <%}%>
    <%if(doc && doc.court){%>
    <td><%= doc.court%></td>
    <%}%>
    <%if(doc && doc.caseTitle){%>
    <td><%= doc.caseTitle%></td>
    <%}%>
    <%if(doc && doc.caseNumber){%>
    <td><%= doc.caseNumber%></td>
    <%}%>
  </tr>
  <%})%>
  <%}%>
</table>
</body>
</html>
    